.DS_Store
.grunt
*.swp
*.log
dist/
.idea/
build
compiler/compiler.jar
compiler/COPYING
compiler/README.md
compiler/library/
compiler-latest.zip
node_modules
closure-library
references
test/airbridge-deps.js
test/test_*
screenshots/
legacy/
package-lock.json
test/test\.html
